# ملفات النظام
*.DS_Store
*.swp
*.swo
Thumbs.db

# تجاهل البيئة الافتراضية
myenv/

# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل ملفات Django الناتجة
*.sqlite3


# إذا كنت لا تريد تتبع migrations:
# **/migrations/
# تجاهل كل ملفات الترحيل ما عدا __init__.py
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc

# إعدادات البيئة
.env

# ملفات البرامج المساعدة
*.log

# ملفات الأنظمة و IDE
.vscode/
.idea/
./backend/import_data_from_excel.py