# تجاهل البيئة الافتراضية
myenv/

# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل ملفات Django الناتجة
*.sqlite3


# إذا كنت لا تريد تتبع migrations:
# **/migrations/

# إعدادات البيئة
.env

# ملفات البرامج المساعدة
*.log

# ملفات الأنظمة و IDE
.vscode/
.idea/
