{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="container mx-auto py-6">
  <h2 class="text-2xl font-bold mb-4 text-center">الجدول الدراسي</h2>
  <div>
    <form method="get" action="{% url 'view_table_lectures' table_id %}" class="mb-4">
      <div class="w-full sm:w-1/3">
        <label for="program" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">البرنامج</label>
        <select id="program" onchange="this.form.submit()" name="program"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm py-2 px-3 appearance-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-500 sm:text-sm bg-gray-200 text-gray-900 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-200 focus:outline-none"
          required>
          <option value="">اختر برنامج</option>
          {% for program in programs %}
          <option value="{{ program.id }}">{{ program.program_name }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>

  <table class="w-full border text-center border-collapse">
    <thead>
      <tr>
        <th class="border p-2" rowspan="2">اليوم</th>
        {% comment %} صف القاعات %}{% endcomment %}
        {% for hall in halls %}
        <th class="border p-2" colspan="{{ periods|length }}">{{ hall.hall_name }}</th>
        {% endfor %}
      </tr>
      <tr>
        {% comment %} صف الفترات (تحت كل قاعة) %}{% endcomment %}
        {% for hall in halls %}
        {% for period in periods %}
        <th class="border p-2">{{ period.period_from }} - {{ period.period_to }}</th>
        {% endfor %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for day, day_data in schedule.items %}
      <tr>
        <td class="border p-2 font-bold">{{ day }}</td>

        {% for hall in halls %}
        {% for period in periods %}
        {% with key=period.period_from|stringformat:"s"|add:"-"|add:period.period_to|stringformat:"s" %}
        <td class="border p-2 text-right align-top">
          {% for lec in day_data|get_item:key %}
          {% if lec.hall == hall.hall_name %}
          <div>
            <span class="font-semibold">{{ lec.course }}</span><br>
            <span class="font-semibold">{{lec.program}}-{{ lec.level }}-{{ lec.group }}</span>
            <small>{{ lec.teacher }}</small>
          </div>
          {% endif %}
          {% empty %}
          <span class="text-gray-400">---</span>
          {% endfor %}
        </td>
        {% endwith %}
        {% endfor %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}